* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

header {
    background-image: url("./main_image.png");
    background-size: cover;
    height: 100vh;
    scroll-snap-align: start;
}

header  div {
    display: block;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

header div img {
    /* display: block; */
    max-width: 23%;
    height: auto;
}

header div span {
    display: block;
}

.app_button {
    border: none;
    background-color: #231FFF;
    border-radius: 22pt 22pt 22pt 22pt;
    width: 70vw;
    height: 6vh;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 17pt;
    margin-top: 10px;
}

.info {
    text-align: center;
    width: 77%;
    left: 23%;
    height: 20.9vh;
}

.info h1 {
    color: #2521FF;
}

.info h3 {
    color: #2521FF;
}

.info a {
    text-decoration: none;
    color: white;
}

.summary {
    background-image: url("./background-image.png");
}

#header_wrap {
    width: 100vw;
    height: 100vh;
}

.info_img {
    display: flex
}

.info_img img {
    margin: auto;
}

main {
    background-image: url("./background-image.png");
    height: 400vh;
    width: 100%;
    z-index: -10;
    /* background: rgba(0, 0, 0, 0.2); */
}

#mask {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.68));
    width: 100%;
    height: 400vh;
    position: absolute;
    z-index: -5;
}

.attention {
    text-align: center;
    color: #D1D1D1;
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    line-height: 34px;
    margin-top: 10px;
}

.attention span {
    display: block;
}

.attention_section {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    vertical-align: middle;
    /* line-height: auto; */
}

.strong {
    display: table-cell;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 18pt;
    height: 0.5vh;
    color: rgb(44, 16, 80);
    /* line-height: 0; */
}

main section ul li {
    height: 100vh;
    scroll-snap-align: start;
    padding-top: 20px;
}

main section {
    height: 100vh;
    scroll-snap-align: start;
}

.info_img {
    height: 30%;
    background-image: url("./info_back_image.png")
}

.info_img img {
    text-align: center;
}

.start_button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #231FFF;
    border: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 11px;
    position: absolute;
    right: 21px;
    margin-top: 30px;
}

.start_button div img {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    display: block;
}

.start_button div {
    display: block;
}

.number_label {
    border-radius: 50%;
    background-color: #231FFF;
    width: 42px;
    height: 42px;
    color: #D1D1D1;
    display: flex;
    margin: 50px auto;
}

.number_label div {
    margin: auto;
}

.description {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 88vw;
    height: 28vh;
    z-index: 5;
}

.cover_app_image {
    position: absolute;
    right: 10px;
    margin-top: -110px;
    z-index: 10;
    transform: rotate(10deg);
}

#app_image {
    position: absolute;
    top: -70px;
}

.app_image {
    width: 26vw;
    height: 26vh;
}

.app_image_wrapper {
    text-align: center;
}

.footer_image {
    height: 62px;
    width: 39px;
}

.main_text {
    font-size: 13pt;
    color: #D1D1D1;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    line-height: 30pt;
    text-align: center;
}

footer {
    background-image: url("./footer_back_image.png");
    background-size: cover;
    height: 256px;
    width: 100vw;
    z-index: -10;
    scroll-snap-align: start;
}

.footer_mask {
    background-color: rgba(221, 221, 221, 0.8);
    height: 256px;
    width: 100vw;
    position: absolute;
    z-index: -5;
}

#footer_logo_container {
    justify-content: center;
    display: inline-flex;
    height: 62px;
}

.day {
    text-align: center;
    color: #2521FF;
    font-size: 18pt;
    margin: 10px 0;
}

small {
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    display: block;
    color: #2521FF;
    text-align: left;
    margin: 0 auto;
    width: 311px;
    font-size: 9pt;
}

#footer_top span:nth-child(1) {
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 24pt;
    height: 33px;
    width: 264px;
    color: #2521FF;
}

#footer_top span:nth-child(2) {
    font-size: 16pt;
    text-align: center;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    color: #2521FF;
}

.footer_wrapper {
    margin: 55px 42px 30px 34px;
}

.common_border {
    margin: 0 auto;
    margin-top: 30px;
    width: 1px;
    background-color: #231FFF;
    text-align: center;
    z-index: 20;
}

.common_border_radius {
    width: 20px;
    height: 20px;
    background-color: #231FFF;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
}

.border_1 {
    height: 25vh;
}

.border_1 div {
    margin-top: 10vh;
}

.border_2 {
    height: 45vh;
}

.border_3 {
    height: 40vh;
}