* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

header {
    background: url("./main_image.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    scroll-snap-align: start;
}

header div.info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

header div.info_container figure img {
    width: 23vw;
    height: auto;
}

header div.info_container span {
    display: block;
}

.app_button {
    border: none;
    background-color: #231FFF;
    border-radius: 22pt 22pt 22pt 22pt;
    width: 70vw;
    height: 50px;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 14pt;
    margin-top: 10px;
}

.info {
    text-align: left;
    width: 77%;
    padding: 0 15px 8px;
}

.info h1 {
    color: #2521FF;
    font-size: 2.25em;
}

.info h3 {
    color: #2521FF;
    font-size: 1.3em;
    letter-spacing: 0.06em;
}

.info a {
    text-decoration: none;
    color: white;
}

.summary {
    background-image: url("./background-image.png");
}

#header_wrap {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.info_img {
    display: flex
}

.info_img img {
    margin: auto;
}

main {
    background: url("./background-image.png") center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400vh;
}

#mask {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.68));
    background-size: cover;
    width: 100vw;
    height: 400vh;
}

.attention {
    text-align: center;
    color: #D1D1D1;
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    line-height: 34px;
    margin-top: 10px;
}

.attention span {
    display: block;
}

.attention_section {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    vertical-align: middle;
    /* line-height: auto; */
}

.strong {
    /* display: table-cell; */
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 18pt;
    font-weight: 700;
    height: 0.5vh;
    color: #7568FF;
    margin: 10px;
    /* line-height: 0; */
}

main section ul li {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section {
    height: 100vh;
    scroll-snap-align: start;
}

.info_img {
    height: 30%;
    background: url("./info_back_image.png") no-repeat left;
    background-size: cover;
}

.info_img img {
    text-align: center;
}

.start_button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #231FFF;
    border: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 11px;
    position: absolute;
    right: 21px;
    margin-top: 30px;
    letter-spacing: 0.5em;
    text-align: center;
    display: none;
}

.start_button div img {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    display: block;
}

.start_button div {
    display: block;
}

.number_label {
    border-radius: 50%;
    background-color: #231FFF;
    width: 45px;
    height: 45px;
    color: #D1D1D1;
    display: flex;
    margin: 30px auto 20px;
    font-size: 1.5em;
    font-weight: 400;
}

.number_label div {
    margin: auto;
}

.description {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 88vw;
    height: 28vh;
    z-index: 5;
}

.app_main_image {
    width: 90vw;
    max-height: 200px;
    border: 1px solid #707070;
    object-fit: cover;
}

.cover_app_image {
    width: 25vw;
    position: absolute;
    right: 20px;
    margin-top: -70px;
    z-index: 10;
    transform: rotate(10deg);
}

.app_image {
    width: 32%;
    max-height: 200px;    
    border: 1px solid #707070;
}

.app_image_wrapper {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.footer_image {
    height: 65px;
}

.main_text {
    font-size: 1.25em;
    color: #D1D1D1;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    line-height: 200%;
    text-align: center;
    font-weight: 500;
}

footer {
    background-image: url("./footer_back_image.png");
    background-size: cover;
    width: 100vw;
    scroll-snap-align: start;
}

.footer_mask {
    background-color: rgba(221, 221, 221, 0.8);
    width: 100vw;
    padding: 5vh 0;
}

#footer_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* 
#footer_logo_container figure {
    width: 40px;
    height: 65px;
} */

.day {
    text-align: center;
    color: #2521FF;
    font-size: 18pt;
    margin: 10px 0;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    letter-spacing: 0.05em;
}

small {
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    display: block;
    color: #2521FF;
    text-align: left;
    margin: 0 auto;
    width: 311px;
    font-size: 0.8em;
    line-height: 200%;
}

#footer_top {
    margin-left: 10px;
    text-align: center;
}

#footer_top span:nth-child(1) {
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-size: 2em;
    height: 33px;
    width: 264px;
    color: #2521FF;
    font-weight: bold;
    margin-bottom: 10px;
    /* letter-spacing: 0.05em; */
}

#footer_top span:nth-child(2) {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    color: #2521FF;
    font-weight: bold;
    letter-spacing: 0.06em;
}

.footer_wrapper {
    /* margin: 55px 42px 30px 34px; */
}

.common_border {
    margin: 0 auto;
    margin-top: 9vh;
    width: 1px;
    background-color: #231FFF;
    text-align: center;
    z-index: 20;
    position: relative;
}

.common_border_radius {
    width: 10px;
    height: 10px;
    background-color: #231FFF;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 48.5%;
}

.border_1 {
    height: 21.5vh;
}

.border_1 div {
    margin-top: 10vh;
}

.border_2 {
    height: 36vh;
}

.border_3 {
    height: 31vh;
}

.border_top {
    height: 10vh;
    width: 1px;
    background-color: #231FFF;
    z-index: 20;
}

.border_animation {
    animation: border_anime 2s ease 0s infinite normal;
}

@keyframes border_anime {
    0% {
        height: 9vh;
        opacity: 0;
    }
    25% {
        height: 9vh;
        opacity: 1;
    }
    50% {
        height: 0;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

.border_wrapper {
    height: 13vh;
    width: 15vw;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.border_radius_top {
    width: 10px;
    height: 10px;
    background-color: #231FFF;
    border-radius: 50%;
}

.scroll_text {
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    /* position: absolute;
    top: 8.5vh;
    right: -5vw; */
    color: #231FFF;
    letter-spacing: 0.05em;
}

small span {
    font-family: 'Franklin Gothic Medium','Futura',sans-serif;
    font-weight: bold;
}

.next_border_wrap {
    width: 15vw;
    height: 50vh;
    margin: 5vh auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
}

.next-margin-top {
    margin-top: 55vh;
}

.next_border {
    height: 45vh;
}

.next-margin-top .next_border {
    height: 40vh;
}
